menu "Infra"

config IPC
	bool

config HAS_SHARED_MEM
	bool

menu "Port based communications"

config PORT_MULTI_CPU_SUPPORT
	bool "Support communications between multiple CPUs"
	default y
	select IPC
	help
	Allow messages to be exchanged between cores.

config PORT_IS_MASTER
	bool "Act as the master for port communications"

endmenu

menu "Panic handling"

config PANIC_ON_BUS_ERROR
	bool "Panic on bus error"
	help
	Panic when a bus error is catched on the bus

config PANIC_DUMP_ON_REBOOT
	bool "Panic dump copy to NVM after reboot"
	depends on BLE_CORE
	help
	Copy panic dump from RAM to NVM just after master core reset

config DEBUG_PANIC_TCMD
	bool "Debug panic Test commands"
	depends on TCMD

endmenu

menu "Logging"

config LOG_MULTI_CPU_SUPPORT
	bool "Multi-CPU log support"
	default y
	select IPC
	help
	When this option is active, logs will be routed using IPC from slaves CPUs
	to a single master CPU.

choice
	prompt "Master/Slave"
	depends on LOG_MULTI_CPU_SUPPORT
	default LOG_SLAVE if QUARK_SE_BLE_CORE

config LOG_MASTER
	bool "Master"
	help
	Master receives log messages from all slaves CPUs.

config LOG_SLAVE
	bool "Slave"
	help
	Slave send log messages to master.

endchoice

choice
	prompt "Message logging implementation"
	default LOG_LOCAL if QUARK_SE_BLE_CORE

config LOG_PRINTK
	bool "Simple printk log implementation"
	depends on LOG_MASTER || !LOG_MULTI_CPU_SUPPORT
	help
	A simple log implementation using an externally provided printk function.

config LOG_PRINTF
	bool "Simple printf log implementation"
	depends on LOG_MASTER || !LOG_MULTI_CPU_SUPPORT
	help
	A simple log implementation using an externally provided printf function.

config LOG_CBUFFER
	bool "Circular Buffer Log implementation"
	help
	A log implementation using a circular log buffer and a dedicated
	low-priority log task doing the actual flush.

config LOG_LOCAL
	bool "Local implementation of message logging"
	help
	The project implements its own message logging function.

endchoice

config LOG_EXTRA_TCMD
       bool "Extra log Test commands"
       depends on TCMD

config LOG_CBUFFER_SIZE
	int "Circular Log Buffer Size (bytes)"
	default 1024
	depends on LOG_CBUFFER
	help
	The size of the Circular Log Buffer (in bytes)

endmenu

config PROPERTIES_STORAGE
	bool "Properties Storage"
	help
	A generic key/value storage

config FACTORY_DATA
	bool "Add support for factory data read"

config FACTORY_DATA_WRITE
	bool "Add support for factory data insertion"
	depends on SOC_ROM

config VERSION
	bool "Binary version header"
	default y

config LOG_BACKEND_USB
	bool "Log over USB"
	depends on USB_ACM
	help
	When enabled logging can be over USB.

config CONSOLE_MANAGER
	bool "Console Manager"
	help
	Manage multiple consoles for test commands and logging.

config CONSOLE_BACKEND_USB_ACM
	bool "USB ACM Console Backend"
	depends on LOG_BACKEND_USB
	depends on CONSOLE_MANAGER
	default y
	help
	Enables USB ACM console backend for test commands and logging.

config CONSOLE_BACKEND_UART
	bool "UART Console Backend"
	depends on CONSOLE_MANAGER
	default y
	help
	Enables UART console backend for test commands and logging

config CONSOLE_BACKEND_FLASH
	bool "SPI NOR FLASH Console Backend"
	depends on QUARK_SE_QUARK_LOG_BACKEND_FLASH
	depends on CONSOLE_MANAGER
	default n
	help
	Enables SPI flash console backend for logging

config CONSOLE_BACKEND_USB_ACM_LOG_ACTIVATED
	bool "Logging on USB ACM console activated by default"
	depends on CONSOLE_BACKEND_USB_ACM
	default n
	help
	Activates Logging onto USB ACM console by default

config CONSOLE_BACKEND_UART_LOG_ACTIVATED
	bool "Logging on UART console activated by default"
	depends on CONSOLE_BACKEND_UART
	default y
	help
	Activates Logging onto UART console by default

config CONSOLE_BACKEND_FLASH_LOG_ACTIVATED
	bool "Logging to SPI FLASH activated by default"
	depends on CONSOLE_BACKEND_FLASH
	default y
	help
	Activates Logging to SPI Flash by default

config SYSTEM_EVENTS
	bool "System events support"
	depends on SPI_FLASH
	select CSTORAGE_FLASH_SPI
	help
	System events are events generated by the system on important events.

comment "System events require a SPI Flash driver"
	depends on !SPI_FLASH

config SYSTEM_EVENTS_TCMD
	bool "System events debug test command"
	depends on SYSTEM_EVENTS
	default n
	help
	Test command that allows dumping system events.

source "bsp/src/infra/tcmd/Kconfig"

endmenu
