.cproject
.project
.wrvconfig
*.pyc
internal
projects/curie_101
projects/curie_101_factory-dvt
projects/morpheus
packages/intel
packages/intel/emulator
packages/mathlib
packages/soc_drivers
bsp/bootable/bootloader
external/toolchain
external/gcc-arc-elf32
external/gcc-arm
external/gcc-i586-pc-elf
external/jlink
external/nanopb
external/nordicsdk
external/openocd
external/qemu
external/zephyr
external/kconfig
external/dhrystone
external/liblzg
external/micro-ecc
external/minibsdiff
external/python-ecdsa
external/sha256
external/bluepy
external/go
external/go-packages/src/github.com/paypal/gatt
external/pyserial
external/pycrypto
sdi
